html { 
  overflow-y: scroll; /* Always show vertical scroll, so user will not see glitches on showing / hiding scrollbar when he is searching */
}

body {
  padding-top: 100px;
  padding-bottom: 50px;
}

.badge-pointer { 
  cursor: pointer !important;
}

.breadcrumb {
  margin-bottom: 0px !important;
  padding: 0px !important;
  display: inline !important;
}

.badge-custom {
  background-color: #309134 !important;
}

.link-custom {
  color: #309134 !important;
}