<div class="modal-header">
  <button class="close" ng-click="cancel()">&times;</button>
  <h4 class="modal-title">Edit bookmark</h4>
  <div class="overflow-protection">
    <a href="{{bookmarkModel.url}}" target="_window"><small>{{bookmarkModel.url}}</small></a>
  </div>
</div>
<div class="modal-body">
  <form ng-submit="save()">
    <div class="form-group">
      <label for="textBoxTitle">Title</label>
      <input type="text" 
              id="textBoxTitle" 
              class="form-control" 
              autofocus="true" 
              placeholder="Bookmark title" 
              ng-model="bookmarkModel.title" >
    </div >
    
    <div class="form-group">
      <label>Folders</label>
      
      <ul class="list-inline">
        <li ng-repeat="folder in bookmarkModel.folders">
          <span class="badge">{{folder}}</span>
        </li>
      </ul>
    </div>

    <div class="form-group">
      <label>Custom tags</label>

      <input type="text" 
              id="textBoxCustomTags" 
              class="form-control" 
              placeholder="Input custom tags" 
              ng-model="bookmarkModel.customTags"
              tagclass="badge badge-custom"
              bootstrap-tagsinput>
      <p class="help-block">Use comma or semicolon to separate tags.</p>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-danger pull-left" ng-click="delete()">Delete</button>
  <button class="btn btn-primary" ng-click="save()">Save</button>
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
