<main id="mainContent">

  <header id="nav-wrap">

    <nav id="search">
      <form class="search" role="search">
        <div class="form-group search-group">
          <input
            autofocus="true"
            type="search"
            class="form-control"
            ng-model="searchText"
            typeahead="tag for tag in getTypeheadSuggestions($viewValue)">
        </div>
      </form>
    </nav>

    <div id="settings-container">
      <a class="settings-toggle" data-toggle="dropdown"></a>
      <div class="settings-wrapper" role="menu">
        <ul class="col-1">
        <li><a class="docs" href="https://github.com/deweyapp/dewey-website/blob/master/README.md" target="_blank">How To</a></li>
        <li><a class="feedback" href="https://github.com/deweyapp/deweyapp/issues" target="_blank">Feedback</a></li>
        <li><a class="review" href="https://chrome.google.com/webstore/detail/bookmarks/aahpfefkmihhdabllidnlipghcjgpkdm/reviews" target="_blank">Review</a></li>
        <li><a class="donate" href="https://github.com/deweyapp/deweyapp#donate" target="_blank">Donate</a></li>
        <li><a class="email" href="mailto:support@deweyapp.io?Subject=Hello, Dewey.">Email Us</a></li>
        <li><a class="website" href="http://deweyapp.io" target="_blank">Website</a></li>
      </ul>
      <ul class="col-2">
        <li>
          <form>

            <div class="checkbox" title="Don&rsquo;t show thumbnails for bookmarks" ng-click="setShowThumbnails()">
              <label><input type="checkbox" ng-checked="showThumbnails" />Show Screenshots</label>
            </div>

            <div class="checkbox" title="Open Links in New Tab" ng-click="">
              <label><input type="checkbox" ng-checked="" />Open Links in New Tab</label>
            </div>

            <div class="checkbox" title="Don&rsquo;t show top-level folders as tags (Mobile Bookmarks, Other Bookmarks, ...)" ng-click="setHideTopLevelFolders()">
              <label><input type="checkbox" ng-checked="hideTopLevelFolders" />Hide Top-level Folders as Tags</label>
            </div>

            <div class="checkbox" title="Hide Favicons" ng-click="">
              <label><input type="checkbox" ng-checked="" />Hide Favicons</label>
            </div>

            <div class="checkbox" title="Hide Tag Links on Bookmark Panels" ng-click="">
              <label><input type="checkbox" ng-checked="" />Hide Tags</label>
            </div>

          </form>
        </li>
      </ul>
      <ul class="col-3">
        <li>Search Options:</li>
        <li>tag:{tag}</li>
        <li>url:{url}</li>
        <li>title:{title}</li>
        <li>Created by:</li>
        <li><a href="http://twitter.com/outcoldman" target="_blank">@outcoldman</a></li>
        <li><a href="http://twitter.com/jmwlsn" target="_blank">@jmwlsn</a></li>
        <li>Screenshots by <a class="important" href="http://snapito.com/" target="_blank">Snapito</a></li>
      </ul>
      </div> <!-- settings-wrapper -->
    </div> <!-- settings-container -->

  </header>

  <div class="grid">

    <div id="tags">
      <a class="tags-toggle" data-toggle="dropdown"></a>
      <ui class="tags-list">
        <li ng-repeat="tag in tags | orderBy: 'tagText'">
          <a target="_blank" ng-click="selectTag(tag.tagText)">{{tag.tagText}}</a>
        </li>
      </ui>
    </div>

    <ul id="sort">
      <li ng-cloak>
        <p>Sort:</p>
        <a ng-repeat="order in orders" ng-class="{ 'sort-active': order == currentOrder }" ng-click="changeOrder(order)">{{order.title}}</a>
      </li>
    </ul>

    <ul id="list-bookmarks">
      <li ng-class="{'panel-primary': ($index == selectedIndex)}"
          ng-repeat="bookmark in (filteredBookmarks | orderBy:currentOrder.value | limitTo:totalDisplayed)"
          ng-cloak>

        <div class="panel" ng-class="{'panel-primary': ($index == selectedIndex), 'panel-small': !showThumbnails}" ng-click="selectBookmark($index)">

          <div class="quick-delete" ng-click="delete()" title="Delete"></div>
          <div class="edit-toggle" ng-click="editBookmark(bookmark)" title="Edit"></div>
          <a class="bookmark-link" href="{{bookmark.url}}" title="Visit Link" target="_blank"></a>

          <div class="thumbnail-loading" style="background: white url(images/loader.gif) no-repeat center center;" title="{{bookmark.url}}"></div>

          <div class="details">

            <img class="favicon" src="http://g.etfv.co/{{bookmark.url}}?defaulticon=lightpng" alt="{{bookmark.url}}" my-update-background crossOrigin="anonymous" />
            <h2>{{bookmark.title}}</h2>

            <div class="tag-links">
              <span ng-repeat="tag in bookmark.tag">
                <a ng-class="{'badge-custom': tag.custom}" ng-click="selectTag(tag.text)" title="Search Tag">{{tag.text}}</a>
              </span>
            </div><!-- tags -->

          </div><!-- details -->
        </div><!-- panel -->
      </li><!-- bookmarks in bookmarks -->
    </ul><!-- list-bookmarks -->
  </div><!-- grid -->

</main>
