<!doctype html>
<html ng-app>
    <head>
        <title>GDG demo</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/bootstrap.min.css">
        <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
        <script src="./js/jquery.js"></script>
        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/angular.js"></script>
        <script src="./js/app.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Test</h1>
            <div ng-controller="AppCtrl">
               <!-- <span>{{remaining()}} of {{bookmarks.length}} remaining</span>
              [ <a href="" ng-click="archive()">archive</a> ] 
              <form ng-submit="addTodo()">
                <input type="text" ng-model="todoText"  size="30"
                       placeholder="add new todo here">
                <input class="btn-primary" type="submit" value="add">
              </form>-->
              <ul>
                <li ng-repeat="bookmark in bookmarks">
                  <a href="{{bookmark.url}}">{{bookmark.text}}</a>
                  <span>{{bookmark.date | date:'medium'}}</span>
                  <ul>
                    <li ng-repeat="tag in bookmark.tags">
                        <span>{{tag}}</span>
                    </li>
                  </ul>
                </li>
              </ul>
              
            </div>
        </div>
    </body>
</html>