<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="images/favicon.png" rel="shortcut icon">

    <title>Dewey</title>

    <link rel='stylesheet' href='css/style.css'>
    <script data-main='js/startup' src='bower_components/requirejs/require.js'></script>

<script id="template/typeahead/typeahead-popup.html" type="text/ng-template">
  <ul class="typeahead-dropdown" ng-style="{display: isOpen()&&'block' || 'none'}">
    <li ng-repeat="match in matches" ng-class="{active: isActive($index) }" ng-mouseenter="selectActive($index)" ng-click="selectMatch($index)">
        <div typeahead-match index="$index" match="match" query="query" template-url="templateUrl"></div>
    </li>
  </ul>
</script>

  </head>
  <body>
    <div ng-view></div>
    <div class="row" id="loadMorePlaceholder" />
  </body>
</html>