/*-----------------------------
  Link Panels
-----------------------------*/

.panel {
  overflow: hidden;
}

.panel,
.panel-primary {
  -webkit-backface-visibility: hidden;
  position: relative;
  top: 0;
  transition: top 200ms cubic-bezier(.65, 0, .75, 1);
}

.panel:hover,
.panel-primary {
  top: -.45rem;
}

.panel:focus {
  outline: none;
}

.bookmark-link { /*this is a transparent element to hold the link*/
  bottom: 0;
  display: block;
  left: 0;
  position: absolute;
  right: 0;
  text-decoration: none;
  top: 0;
  z-index: 7010;
}

.panel:before {
  content: url(../images/quick-delete.svg);
  height: 2rem;
  position: absolute;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 7999;
  top: 0;
  width: 2rem;
  -webkit-transform: translateY(-2rem);
  transition: opacity 400ms ease,
              -webkit-transform 200ms cubic-bezier(0, 0, .25, 1.5);
}

.quick-delete { /*transparent element to hold delete function*/
  height: 2rem;
  position: absolute;
  cursor: pointer;
  color: white;
  display: block;
  right: 0;
  z-index: 7999;
  top: 0;
  width: 2rem;
}

.panel:after {
  content: url(../images/edit-gray.svg);
  height: 2rem;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 9.375rem;
  width: 2rem;
  -webkit-transform: translateY(1rem);
  transition: opacity 200ms ease,
              -webkit-transform 200ms cubic-bezier(0, 0, .25, 1.5);
}

.panel:hover:before,
.panel:hover:after {
  opacity: 1;
  -webkit-transform: translateY(0);
}

/*-----------------------------
  Link Thumbnail
-----------------------------*/

.thumbnail-loading,
.thumbnail {
  -webkit-filter: brightness(.8);
  background-position: center;
  background-repeat: no-repeat;
  height: 9.375rem;
}

.thumbnail-loading {
  background-size: 24px 24px !important;
}

.thumbnail {
  background-size: cover !important;
}

/*-----------------------------
  Styles for Hide Thumbnails Option
-----------------------------*/

.panel-small .thumbnail-loading {
  background-size: 18px 18px !important;
}

.panel-small .thumbnail-loading,
.panel-small .thumbnail {
  height: 1.75rem;
  -webkit-filter: brightness(.85);
}

.panel-small:after {
  top: 1.75rem;
}

.panel-small .edit-toggle {
  top: 1.75rem;
}

/*-----------------------------
  Special Styles for Links to PDFs
-----------------------------*/

.thumbnail[title$=".pdf"] {
  background: white url(../images/pdf.svg) !important;
  background-position: center !important;
}

.panel-small .thumbnail[title$=".pdf"] {
  background: hsl(14, 84%, 66%) !important;
}

.favicon[src$=".pdf?defaulticon=lightpng"] {
  content: url(../images/link.svg);
}

/*-----------------------------
  Special Styles for Links to local Chrome urls
-----------------------------*/

.thumbnail[title*="chrome://"],
.thumbnail[title*="chrome-extension://"]{
  background: url(../images/chrome.svg) !important;
  background-position: center !important;
}

.panel-small .thumbnail[title*="chrome://"],
.panel-small .thumbnail[title*="chrome-extension://"]{
  background: hsl(14, 84%, 66%) !important;
}

.favicon[src*="chrome://"],
.favicon[src*="chrome-extension://"] {
  content: url(../images/chrome-32.png);
}

/*-----------------------------
  Special Styles for Links to Dewey
-----------------------------*/

.thumbnail[title*="aahpfefkmihhdabllidnlipghcjgpkdm"] {
  background: url(../images/dewey-small.png) !important;
  -webkit-filter: brightness(1) !important;
  background-size: 12.5rem 9.375rem !important;
}

.panel-small .thumbnail[title*="aahpfefkmihhdabllidnlipghcjgpkdm"] {
  background: hsl(201, 16%, 17%) !important;
}

.favicon[src*="aahpfefkmihhdabllidnlipghcjgpkdm"] {
  content: url(http://deweyapp.io/images/favicon.png);
}

/*-----------------------------
  Link Details
-----------------------------*/

.details {
  background: white;
  cursor: pointer;
  padding: 1rem;
  text-decoration: none;
}

.details h2 {
  color: hsl(0, 0%, 33%);
  font: 700 1rem/1rem 'Source Sans Pro', sans-serif;
  height: auto;
  overflow: hidden;
  padding-bottom: .5rem;
  width: 100%;
}

.favicon {
  height: 16px;
  margin-bottom: .5rem;
  width: 16px;
}

/*-----------------------------
  Link Tags
-----------------------------*/

.tag-links {
  margin-top: 1rem;
  position: relative;
  z-index: 7020;
}

.tag-links a {
  color: hsl(0, 0%, 73%);
  cursor: pointer;
  display: inline-block;
  font-size: 0.75rem;
  padding-bottom: 0.4rem;
  padding-right: 0.35rem;
  transition: color 250ms ease;
}

.tag-links a:hover {
  color: hsl(14, 84%, 66%);
  text-decoration: underline;
}

.tag-links .badge-custom {
  color: hsl(0, 0%, 47%);
}