/*-----------------------------
  Sort
-----------------------------*/

.sort {
  font: 400 .85rem/1rem 'Source Sans Pro', sans-serif;
  text-align: right;
}

.sort p, .sort a {
  color: hsla(201, 16%, 17%, 0.8);
  display: inline-block;
  list-style: none;
  margin-right: 1rem;
}

.sort a {
  color: hsla(201, 16%, 17%, 0.3);
  cursor: pointer;
  transition: color 250ms ease;
}

.sort a:hover, .sort a:focus {
  color: hsl(14, 84%, 66%);
  outline: none;
}

.sort-active {
  border-bottom: 1px solid;
}