/*-----------------------------
  Tags Dropdown
-----------------------------*/

.tags-wrap {
  float: left;
  margin-left: 1rem;
  margin-top: -.25rem;
  position: relative;
  text-align: left;
  z-index: 8000;
}

.tags-toggle {
  -webkit-filter: saturate(0);
  background: url(../images/tags.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  display: block;
  height: 1.25rem;
  transition: -webkit-filter 100ms ease-in-out;
  width: 1.25rem;
  -webkit-backface-visibility: hidden;
}

.tags-toggle:hover {
  -webkit-filter: saturate(1);
}

.open > .tags-list {
  -webkit-transform: scale(1);
  opacity: 1;
  visibility: visible;
}

.tags-list {
  -webkit-transform-origin: top left;
  -webkit-transform: scale(.25);
  background: hsl(201, 16%, 17%);
  border-radius: 3px;
  box-shadow: 0 0 20px -2px hsla(0, 0%, 0%, 0.2);
  color: hsl(0, 0%, 100%);
  left: 2rem;
  list-style: none;
  max-height: 24rem;
  min-width: 11rem;
  opacity: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: .5rem 0;
  position: absolute;
  top: -0.5rem;
  transition: visibility 100ms ease, opacity 200ms ease, -webkit-transform 200ms cubic-bezier(.6, 0, .2, 1.5);
  visibility: hidden;
}

.tags-list > li > a {
  color: white;
  cursor: pointer;
  display: block;
  font: 400 .85rem/1.2 "Source Sans Pro", sans-serif;
  padding: .25rem 1rem;
  transition: none;
}

.tags-list > li > a:hover,
.tags-list > li > a:focus {
  background: hsla(0, 0%, 100%, 0.05);
  color: hsl(14, 84%, 66%);
}

/*-----------------------------
  Tags Dropdown Scrollbar
-----------------------------*/

.tags-list::-webkit-scrollbar { width: 3px; }
.tags-list::-webkit-scrollbar-track { background: hsla(0, 0%, 100%, 0.15); }
.tags-list::-webkit-scrollbar-thumb { background: #F18260; }
