/*-----------------------------
  Grid
-----------------------------*/

.grid {
  margin: 3.25rem auto 0;
  width: 72.5em;
  transition: -webkit-transform 250ms cubic-bezier(0.5, -.75, .25, 1.5);
  -webkit-transform: translate3d(0, 0, 0);
  -webkit-transform-origin: bottom;
  -webkit-backface-visibility: hidden;
  z-index: 7000;
}

/*Effect for edit modal*/

.scale-blur {
  -webkit-filter: blur(7px);
  -webkit-transform: scale(0.97);
}

.list-bookmarks {
  font-size: 0;
  margin-top: 2.25rem;
}

.list-bookmarks li {
  -webkit-animation: fade-in-up 300ms ease;
  -webkit-backface-visibility: hidden;
  background: transparent;
  display: inline-block;
  list-style: none;
  margin: 1rem;
  position: relative;
  top: 0;
  transition: top 300ms cubic-bezier(.65, -1, .25, 2.5), -webkit-transform 50ms ease;
  vertical-align: top;
  width: 12.5rem;
}

.list-bookmarks li:active {
  -webkit-transform: scale(.98);
}

.list-bookmarks li:before {
  background: hsl(14, 84%, 66%);
  bottom: 0;
  content: " ";
  display: inline-block;
  height: 1rem;
  position: absolute;
  width: 12.5rem;
}

.list-bookmarks li:hover,
.list-bookmarks li.panel-primary {
  top: -.2rem;
}

/*-----------------------------
  Grid Panel Animation
-----------------------------*/

.list-bookmarks li:nth-child(3n+3),
.list-bookmarks li:nth-child(5n+1) {
  -webkit-animation-duration: 500ms;
}