/*-----------------------------
  Media Queries
-----------------------------*/

@media only screen and (min-width: 135rem) {
  html { font-size: 125%; }
  .thumbnail[title*="aahpfefkmihhdabllidnlipghcjgpkdm"] { background: url(../images/dewey-big.png) !important; }
}

@media only screen and (min-width: 100rem) {
  .grid { width: 87rem; }
}

@media only screen and (max-width: 72.5rem) {
  .grid { width: 58rem; }
}

@media only screen and (max-width: 58rem) {
  .grid { width: 43.5rem; }
}

@media only screen and (max-width: 43.5rem) {
  .grid { width: 29rem; }
}

@media only screen and (max-width: 29rem) {
  .grid { width: 12.5rem; }

  .settings-wrap { margin: 0; width: auto; }

  .list-bookmarks li { margin: 1.25rem 0 0 0; }

  .tags-wrap { margin-left: 0; }

  .tags-list { left: 0; width: 12.5rem; }

  .sort p, .sort a { margin-right: .5rem; }

  .sort a:last-child { margin-right: 0; }
}
